.body {
    margin: 0;
    padding: 0;
}

.contactHeader {
    width: 100vw;
    min-height: 25vh;
    box-shadow: 0px 0px 5px gray;
    background-image: url(../src/contact-us-header.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.contactHeader h2 {
    font-size: 48px;
    font-family:'Poppins', sans-serif ;

}

.contactBody {
    width: 90vw;
    margin: 20px auto;
}

.contactBody p {
    font-size: 24px;
    text-align: center;
}

.contact-form {
    text-align: left;
}

.contact-form h4 {
    font-size: 24px;
}


.contact-form label {
    font-size: 20px;
    margin-left: 20px;
}

.input-fields {
    width: 80vw;
    margin: 10px auto;
}

.inputOne, .inputTwo {
    width: 100%;
    min-height: max-content;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.input-fields label {
    float: left;
    margin-right: 20px;
    font-size: 20px;
}


.input-fields input, .input-fields textarea {
    border-radius: 10px;
    width: 365px;
    height: 40px;
    float: right;
    border-style: none;
    border: 1px solid #000000;
}

.submitBtn {
    padding: 15px 120px !important;
    background-color: #007A79;
    color: #ffffff;
    border-style: none;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
}