 body {
  margin: 0;
  background-color: rgba(196, 196, 196, 1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
   

 
  #height {
    border-radius: 14px;
    color: blue;
    padding: 5px 202px;
    line-height: 55px;
    width: 44vh;
  }
  .blog {
    display: flex;
     align-items: center;
     padding: 13px;
  }

  .blogContainer {
    display: flex;
    padding: 21px;
    justify-content: center;
    align-items: center;
    width: 125vh;
    border-color: #e3e3e4;
    border-style: solid;
    border-radius: 33px;
    background-color: rgba(0, 122, 121, 1);
  }
  .new_post {
        display: flex;
        justify-content: center; 
       
   }
  
  .containerInput {
    display: flex;
    justify-content: center; 
    }
.inputList{
  margin-left: 55px;
}

  .postBtn {
    margin-left: 4px;
    background-color: white;
    color: rgba(0, 122, 121, 1);
  }
  .postLikeCounter {
    font-size: 13px;
  margin-left: auto;
  margin-right: 11px;
  flex-direction: column;
  display:flex;
  
  }
  .likeIcon {
    width: 24px;
    height: 24px;
    background-position: 27px 34px;
    width: 80px;
    height: 65px;
     cursor: pointer;  
    }  
    .postBottomLeft {
   display: flex;
   justify-content: center;
   align-items: center;
      
    }
    .List {
      height: 10em;
      background-color: rgba(255, 255, 255, 1);
      width: 53em;
      display: flex;
      align-items: center;
      border-radius: 22px;  
      border-style: solid;
      border-color: rgb(236, 236, 243);
      padding-left: 16px;
    }
    span.postLikeCounter{
      display: flex;
      align-items: flex-end;
      margin-block-start: auto;
      
    }
    .postProfileImg {
      width: 66px;
      height: 66px;
      margin-left: 11px;
      border-radius: 50%;
      object-fit: cover;
    }
    .postUsername {
      font-size: 15px;
      font-weight: 500;
       
    }
    
.postTop {
  height: -4em;
}